## EDA Notebook

### Contents:
-

#### Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

#### Load In Data

In [4]:
# Load the data
train_path = r"C:\Users\johne\Downloads\train.csv"
train_df = pd.read_csv(train_path)

# Head
print(train_df.head())

   id  Temparature  Humidity  Moisture Soil Type  Crop Type  Nitrogen  \
0   0           37        70        36    Clayey  Sugarcane        36
1   1           27        69        65     Sandy    Millets        30
2   2           29        63        32     Sandy    Millets        24
3   3           35        62        54     Sandy     Barley        39
4   4           35        58        43       Red      Paddy        37

   Potassium  Phosphorous Fertilizer Name
0          4            5           28-28
1          6           18           28-28
2         12           16        17-17-17
3         12            4        10-26-26
4          2           16             DAP

#### Basic Stats

In [5]:
# 2. Number of unique values per column
unique_counts = train_df.nunique()
print("Unique values per column:\n", unique_counts, "\n")

# 3. Basic statistics for numeric columns
numeric_stats = train_df.describe()
print("Basic numeric stats:\n", numeric_stats, "\n")

# 4. Basic statistics for all columns (including categoricals)
all_stats = train_df.describe(include='all')
print("All-columns stats:\n", all_stats)

Unique values per column:
 id                 750000
Temparature            14
Humidity               23
Moisture               41
Soil Type               5
Crop Type              11
Nitrogen               39
Potassium              20
Phosphorous            43
Fertilizer Name         7
dtype: int64

Basic numeric stats:
                   id    Temparature       Humidity       Moisture  \
count  750000.000000  750000.000000  750000.000000  750000.000000
mean   374999.500000      31.503565      61.038912      45.184147
std    216506.495284       4.025574       6.647695      11.794594
min         0.000000      25.000000      50.000000      25.000000
25%    187499.750000      28.000000      55.000000      35.000000
50%    374999.500000      32.000000      61.000000      45.000000
75%    562499.250000      35.000000      67.000000      55.000000
max    749999.000000      38.000000      72.000000      65.000000

            Nitrogen      Potassium    Phosphorous
count  750000.000000  750000.000000  750000.000000
mean       23.093808       9.478296      21.073227
std        11.216125       5.765622      12.346831
min         4.000000       0.000000       0.000000
25%        13.000000       4.000000      10.000000
50%        23.000000       9.000000      21.000000
75%        33.000000      14.000000      32.000000
max        42.000000      19.000000      42.000000

All-columns stats:
                    id    Temparature       Humidity       Moisture Soil Type  \
count   750000.000000  750000.000000  750000.000000  750000.000000    750000
unique            NaN            NaN            NaN            NaN         5
top               NaN            NaN            NaN            NaN     Sandy
freq              NaN            NaN            NaN            NaN    156710
mean    374999.500000      31.503565      61.038912      45.184147       NaN
std     216506.495284       4.025574       6.647695      11.794594       NaN
min          0.000000      25.000000      50.000000      25.000000       NaN
25%     187499.750000      28.000000      55.000000      35.000000       NaN
50%     374999.500000      32.000000      61.000000      45.000000       NaN
75%     562499.250000      35.000000      67.000000      55.000000       NaN
max     749999.000000      38.000000      72.000000      65.000000       NaN

       Crop Type       Nitrogen      Potassium    Phosphorous Fertilizer Name
count     750000  750000.000000  750000.000000  750000.000000          750000
unique        11            NaN            NaN            NaN               7
top        Paddy            NaN            NaN            NaN        14-35-14
freq       85754            NaN            NaN            NaN          114436
mean         NaN      23.093808       9.478296      21.073227             NaN
std          NaN      11.216125       5.765622      12.346831             NaN
min          NaN       4.000000       0.000000       0.000000             NaN
25%          NaN      13.000000       4.000000      10.000000             NaN
50%          NaN      23.000000       9.000000      21.000000             NaN
75%          NaN      33.000000      14.000000      32.000000             NaN
max          NaN      42.000000      19.000000      42.000000             NaN